.trigger
inspector/an-inspector.*
inspector/ios-inspector.*
inspector/ios-inspector/build/
inspector/ios-inspector/ForgeModule/build/
inspector/ios-inspector/.hash
inspector/an-inspector/ForgeInspector/
inspector/ios-inspector/ForgeCore.bundle/
inspector/ios-inspector/ForgeCore.framework/
inspector/ios-inspector/ForgeInspector/
inspector/ios-inspector/ForgeInspector.xcodeproj/
